@if (raffle) {
<div class="raffle-form-container">
    <h1 class="section-title">Create New Raffle</h1>
    <form [formGroup]="raffleForm" (ngSubmit)="onSubmit($event)" class="form">
        <!-- Raffle Title Field -->
        <div class="form-group">
            <label>Raffle Title *</label>
            <div class="input-field">
                <input type="text" formControlName="title" placeholder="Enter raffle title" />
            </div>
            @if ((raffleForm.get('title')?.touched || formSubmitted) && raffleForm.get('title')?.invalid) {
            <small class="error-message">
                Title is required.
            </small>
            }
        </div>

        <!-- Raffle Description Field -->
        <div class="form-group">
            <label>Raffle Description *</label>
            <div class="input-field">
                <textarea formControlName="description" placeholder="Enter raffle description" rows="4"></textarea>
            </div>
            @if ((raffleForm.get('description')?.touched || formSubmitted) && raffleForm.get('description')?.invalid) {
            <small class="error-message">
                Description is required.
            </small>
            }
        </div>

        <!-- Start and End Dates Fields -->
        <div class="form-group form-dates grid">
            <div>
                <label>New End Date *</label>
                <div class="input-field">
                    <input type="date" formControlName="endDate" />
                </div>
                @if ((raffleForm.get('endDate')?.touched || formSubmitted) && raffleForm.get('endDate')?.invalid) {
                <small class="error-message">
                    End date is required.
                </small>
                }
            </div>
            <div>
                <label>New End Time *</label>
                <div class="input-field">
                    <input type="time" formControlName="endTime" />
                </div>
                @if ((raffleForm.get('endTime')?.touched || formSubmitted) && raffleForm.get('endTime')?.invalid) {
                <small class="error-message">
                    End time is required.
                </small>
                }
            </div>
        </div>

        <!-- Tickets and Price Fields -->
        <div class="form-group form-tickets grid">
            <div>
                <label>Number of Extra Tickets *</label>
                <div class="input-field">
                    <input type="number" formControlName="totalTickets" placeholder="Enter number of tickets" />
                </div>
                @if ((raffleForm.get('totalTickets')?.touched || formSubmitted) &&
                raffleForm.get('totalTickets')?.invalid) {
                <small class="error-message">
                    Number of tickets is required.
                </small>
                }
            </div>
            <div>
                <label>New Ticket Price *</label>
                <div class="input-field">
                    <input type="number" formControlName="ticketPrice" placeholder="Enter ticket price" />
                </div>
                @if ((raffleForm.get('ticketPrice')?.touched || formSubmitted) && raffleForm.get('ticketPrice')?.invalid) {
                <small class="error-message">
                    Ticket price is required.
                </small>
                }
            </div>
        </div>

        <!-- Image Upload Field -->
        <div class="form-group">
            <label>Upload Images</label>
            <app-upload-images (imageKeysChange)="setImageKeys($event)"
                [imageKeys]="imageKeys.value"></app-upload-images>
        </div>

        <!-- Submit Button -->
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Save Changes</button>
        </div>
    </form>
</div>
}