<div class="relative">
    <div class="flex flex-col sm:flex-row sm:items-start sm:gap-2">
        <h4 class="text-lg font-semibold m-0">Add by Search</h4>
        <div class="relative w-full">
            <input type="text"
                class="w-full p-2 text-base border border-black rounded focus:outline-none focus:ring-2 focus:ring-purple-500"
                placeholder="Search..." [ngClass]="{'invalid-input': invalidInput}" [formControl]="searchControl" />

            <app-select-btn [invalid]="invalidInput" [raffleId]="raffle.id" [ticket]="selectedTicket"
                (ticketReserved)="closeReservation()"></app-select-btn>

            <app-search-results [display]="display" [tickets]="searchResults"
                (selectedTicket)="selectTicket($event)"></app-search-results>
        </div>
    </div>
</div>