<header class="admin-header">
    <a class="admin-header-left admin-nav-link" routerLink="/admin/panel">
        <img src="/assets/images/logo.png" alt="Logo" class="admin-header-logo" />
        <span class="admin-logo-text">ASOCIACIÓN PATITAS SOLIDARIAS</span>
    </a>
    <div class="admin-header-right">
        <a routerLink="/admin/panel" class="admin-nav-link">Panel de Administración</a>
        <a (click)="logout()" class="admin-nav-link logout-btn">
            <img src="/assets/icons/logout-icon.svg" alt="Logout" class="logout-icon" />
            Log Out
        </a>
    </div>
</header>