<div class="action-buttons">
    <span class="font-semibold">Actions:&nbsp;</span>
    <button class="btn-edit" (click)="edit()">Edit</button>
    @if (raffleStatus === 'PENDING') {
        <button class="btn-danger" (click)="triggerAction('delete')">Delete</button>
        <button class="btn-default" (click)="triggerAction('publish')">Publish</button>
    } @else if (raffleStatus === 'ACTIVE') {
        <button class="btn-danger" (click)="triggerAction('pause')">Pause</button>
    } @else if (raffleStatus === 'PAUSED') {
        <button class="btn-danger" (click)="triggerAction('restart')">Restart</button>        
    }
</div>
<div class="action-buttons">
    <span class="font-semibold" >Statistic:&nbsp;</span>
    <button class="btn-default">View Available Tickets</button>
    <button class="btn-default">View Purchases</button>
</div>