<div class="raffle-item" [id]="raffle.id">
    <div class="relative">
        <img src="assets/images/sample.png" alt="Sample Raffle" class="raffle-image" />

        <span class="raffle-items-price black-outline"> {{ raffle.ticketPrice }} </span>
        <div class="status-item raffle-items-statusbar">
            <span class="status-circle ongoing"></span><span class="black-outline">{{ raffle.status }}</span>
        </div>
    </div>
    <div class="raffle-items-contents">
        <h3 class="raffle-title">{{ raffle.title }}</h3>
        <p class="raffle-dates"> {{ raffle.startDate }} | {{ raffle.endDate }}</p>
        <p class="raffle-tickets">{{ raffle.availableTickets }}</p>
        <div class="view-link">
            <a routerLink="/admin/management" class="btn btn-primary">View Details</a>
        </div>
    </div>
</div>
